.product .product-slider{
    padding: 1rem;
}
.product .product-slider:first-child{
    margin-bottom: 2rem;
}
.product .product-slider .box{
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: .1rem solid black;
    box-shadow: 0 .5rem 1rem black;
    transition: .2s linear;
}
.product .product-slider .box.hover{
    outline-offset: 0rem;
    outline: .1rem solid black;
}
.product .product-slider .box img{
    height: 20rem;
}
.product .product-slider .box h3{
    font-size: 2rem;
    color: black;
}
.product .product-slider .box .price{
    font-size: 2rem;
    columns: #666;
    padding: .5rem 0;
}
.product .product-slider .box .stars i{
    font-size: 1.7rem;
    color: orangered;
    padding: .5rem 0;
}